#noticias {
    margin-top: 10px;
    padding-bottom: 70px;
    font-family: 'Nunito Sans', sans-serif;
}

.noticias-container {
    max-width: 100%;
}

.noticia1 {
    height: 630px;
}

.noticia1-img {
    height: 550px;
    background-image: url('Imagens/Fotos/soteldo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.noticia1-title-conteiner {
    margin-top: -60px;
}

.noticia1-title {
    margin: auto;
    height: 140px;
    width: 800px;
    background-color: white;
    border: 1.7px solid;
    border-color: rgb(151, 151, 151);
}

.noticia1-title-box {
    max-width: 90%;
    padding-top: 25px;
    margin: auto;
}

.noticia1-title-data {
    font-size: 20px;
    color: rgb(71, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid goldenrod;
}

.noticia1-title-desc {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}


/* noticias menores */

.noticias-menores {
    height: 350px;
    margin-top: 55px;
}

.noticia2 {
    height: 315px;
    width: 475px;
    float: left;
}

.noticia3 {
    height: 315px;
    width: 475px;
    float: right;
}

.noticia2-img {
    height: 275px;
    background-image: url('Imagens/Fotos/ariel-holan-26042021100342529.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.noticia3-img {
    height: 275px;
    background-image: url('Imagens/Fotos/sereiasXnapoli.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.noticia2-title-conteiner {
    margin-top: -40px;
}

.noticia2-title {
    margin: auto;
    height: 100px;
    width: 400px;
    background-color: white;
    border: 1.7px solid;
    border-color: rgb(151, 151, 151);
}

.noticia2-title-box {
    max-width: 90%;
    padding-top: 12.5px;
    margin: auto;
}

.noticia2-title-data {
    font-size: 13px;
    color: rgb(71, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid goldenrod;
}

.noticia2-title-desc {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}