#sociorei {
    margin-top: 10px;
    padding-bottom: 70px;
    font-family: 'Nunito Sans', sans-serif;
}

.sociorei-div {
    max-width: 100%;
    height: 400px;
    margin: auto;
}

.sociorei-btn-box {
    max-width: 100%;
    text-align: center;
}

.sociorei-btn {
    background-image: url('Imagens/Logo_SR_site.jpg');
    height: 400px;
    width: 920px;
    border: 0;
    cursor: pointer;
}