#favorito {
    margin-top: 10px;
    padding-bottom: 200px;
    font-family: 'Nunito Sans', sans-serif;
}

.box-favorito {
    padding-top: 70px;
    max-width: 100%;
    height: 400px;
    margin: auto;
    text-align: center;
}

.img-fav {
    margin: auto;
    height: 450px;
}

.medalha {
    position: relative;
    /* position: absolute; */
    height: 170px;
    margin-left: -150px;
}

.txt-fav {
    height: 150px;
    margin-top: 20px;
    font-size: 30px;
}