#loja {
    width: 100%;
    height: 600px;
    margin-top: 10px;
    padding-bottom: 140px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(12, 12, 12);
    color: whitesmoke;
}

.loja-main-container {
    margin: auto;
    width: 1000px;
    padding-top: 15px;
}

.loja-main-container h1 {
    font-size: 30px;
    padding-top: 20px;
    margin-block-end: 0;
}

.loja-box {
    margin-top: 15px;
}

.loja-list-box {
    margin: auto;
    max-width: 100%;
}

.loja-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 0;
}

.loja-list-item {
    list-style: none;
    display: inline;
    align-items: center;
    width: 332px;
    height: 500px;
    text-align: center;
    color: whitesmoke;
    transition: 0.3s;
    transform: scale(1);
}

.loja-list-item:hover {
    transform: scale(1.09);
}

.loja-list-item h4 {
    margin-block-start: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.loja-produto-img {
    width: 300px;
}

.btn-black {
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
    font-family: 'NBA Hornets Buzz City';
    cursor: pointer;
}