.container-cadastro {
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background-color: rgb(12, 12, 12);
    border-top: 5px solid goldenrod;
}

.sem-cadastro {
    max-width: 700px;
    margin: auto;
}

.sem-cadastro-txt {
    text-align: center;
    color: white;
    font-family: 'Nunito Sans', sans-serif, 'Lucida';
    font-size: 17px;
}

.sem-cadastro-txt button {
    margin-top: 30px;
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: 20px;
    font-weight: bold;
}


/* -------------------------------------------------------------------- */

.main-cadastro {
    max-width: 750px;
    height: 550px;
    margin: auto;
    color: whitesmoke;
}

.main-cadastro-box {
    max-width: 700px;
    margin: auto;
}

.inp-mid {
    margin-top: 40px;
    float: left;
    width: 700px;
    height: 50px;
}

.inp-left {
    margin-top: 40px;
    float: left;
    width: 325px;
    height: 50px;
}

.inp-right {
    margin-top: 40px;
    float: right;
    width: 325px;
    height: 50px;
}

.inp-bot {
    margin-top: 40px;
    margin-right: 45px;
    float: left;
    width: 140px;
    height: 50px;
}

.inp-cadastro {
    margin-top: 10px;
    height: 25px;
    width: 100%;
    border: 0;
    border-bottom: 1.5px solid goldenrod;
    background-color: transparent;
    color: whitesmoke;
    outline: 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.btn-cadastro {
    text-align: center;
    margin-top: 70px;
    width: 270px;
    height: 50px;
    background-color: goldenrod;
    color: white;
    border: 1px solid goldenrod;
    font-size: 17px;
    cursor: pointer;
}

.btn-cadastro:hover {
    background-color: rgb(24, 24, 24);
}

.div-erro {
    height: 50px;
    color: rgb(255, 51, 51);
    font-size: 15px;
}

.inp-cadastro:-webkit-autofill,
.inp-cadastro:-webkit-autofill:hover,
.inp-cadastro:-webkit-autofill:focus,
.inp-cadastro:-webkit-autofill:active {
    /* muda a cor de fundo do autofill */
    -webkit-box-shadow: 0 0 0 30px rgb(12, 12, 12) inset !important;
    /* muda a cor da fonte do autofill */
    -webkit-text-fill-color: white !important;
}